body {
    margin: 0;
    display: flex;
    height: 100vh;
}

canvas {
    flex: 3;
    background: white;
}

.chat {
    flex: 1;
    background: #111;
    color: white;
    display: flex;
    flex-direction: column;
}
